<div class="pt-5 col-12"></div>
  <div class="row text-center justify-content-center col-12  py-5">
    <div class="col-6">
    <button type="button" class="btn btn-primary" onclick="window.location.href = '/'" > See other projects </button>
    </div>
  </div>