<div class="pt-5 col-12">
  <p class="lead ">
    <p class="text-muted text-center fs-5">{{section1_title}}</p>
    <div class=" py-vh-2 bg-full-gradient">
      <h4 class="fs-1 text-center">{{section1_subtitle}}</h4>
    </div>
  </p>
  <div class="row pt-5 justify-content-center">
    <div class="col-12 col-xl-10 py-5">
      <h4>{{section2_title}}</h4>
      <p class="fs-5">{{ section2_content }}</p>
      <div class="px-10 py-5">
        {% myBlogImage "" + section2_img,
        "ss" %}
      </div>
    </div>
  </div>
  <div class="row pt-5 bg-full justify-content-center">
    <div class="col-12 col-xl-10 py-5">
      <h4>{{section3_title}}</h4>
      <p class="fs-5">{{ section3_content }}</p>
      <div class="py-10 px-10">
        {% myBlogImage "./src/img/adunit_inconsistency.png",
        "ss" %}
      </div>
    </div>
  </div>
</div>