<div class="row border-top py-5 justify-content-end">

  <div class="col-12 text-center ">

    <h4 >  thisisvaze@gmail.com |  <a class="link-fancy" href="https://www.linkedin.com/in/aadityav">LinkedIn</a> |  <a class="link-fancy" href="https://design.thisisvaze.com/img/uiux2024.pdf">Resume</a></p>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>