<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ metadata.description }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/img/favicon.png' | url }}">
<meta name="author" content="{{ metadata.author }}">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="HandheldFriendly" content="true"/>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<script src="/js/animations.js"></script>
<title>{{ title or metadata.title }}</title>
<!-- build:css -->
<link rel="stylesheet" href="{{ '/css/theme.css' | url }}">
<!-- endbuild -->