<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ metadata.description }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/img/favicon.png' | url }}">
<meta name="author" content="{{ metadata.author }}">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="HandheldFriendly" content="true"/>
<meta property="og:title" content="Aaditya Vaze - Portfolio"/>
<meta property="og:type" content="Personal Website"/>
<meta property="og:image" content="/img/preview_img.png"/>
<meta property="og:url" content="https://www.thisisvaze.com"/>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<script src="/js/animations.js"></script>
<title>{{metadata.title }}</title>
<!-- build:css -->
<link rel="stylesheet" href="{{ '/css/theme.css' | url }}">
<!-- endbuild -->