<h1 class=" display-4">{{ title }}</h1>

<p class="fs-6">{{ subtitle }}</p>

<a target="_blank" class="link-fancy pt-4 position-relative" href= {{linkedin_url}}>
      <p class="fs-6 mb-0">
            {{contact_text}}</p>
</a>

</div>
{{ content | safe }}