<div class="col-12 ">
  <p class="lead ">
    <p class="text-muted text-center fs-5">{{section1_subtitle}}</p>
    <div class=" py-vh-2 bg-full-gradient">
      <h4 class="fs-1 text-center">{{section1_title}}</h4>
    </div>
    <div class="col-12 col-xl-10 pt-5 pb-2 mx-auto">
      {{ section1_content | markdown | safe }}
    </div>
    <div class="px-20 py-5">
      {% myBlogImage "" + section1_img,
      "ss" %}
    </div>

    <div class="row pt-0 justify-content-center">
      <div class="col-12 col-xl-10 pt-0 pb-2">
        <h4>{{section1_title2}}</h4>
        {{ section1_content2 | markdown | safe }}
        <div class="px-20 py-5">
          {% myBlogImage "" + section1_img2,
          "ss" %}
        </div>
      </div>
      <div class="col-12 col-xl-10 py-0">
        <h4>{{section1_title3}}</h4>
        {{ section1_content3 | markdown | safe }}
      </div>
    </div>

  </p>

  <p class="lead ">
    <p class="text-muted text-center fs-5">{{section2_subtitle}}</p>
    <div class=" py-vh-2 bg-full-gradient">
      <h4 class="fs-1 text-center">{{section2_title}}</h4>
    </div>
    <div class="px-5 py-5">
      {% myBlogImage "" + section2_img,
      "ss" %}
    </div>

  </p>
  <div class="row text-center justify-content-center col-12  py-5">
    <div class="col-4">
      <p class="display-3 fw-light pb-0 mb-0 lh-1">97%</p>
      <p> Visibility improvement with radial forces</p>
    </div>
    <div class="col-4">
      <p class="display-3 fw-light pb-0 mb-0 lh-1"> 2.1s </p>
      <p> Avg load time</p>
    </div>
    <div class="col-4">
      <p class="display-3 fw-light pb-0 mb-0 lh-1">0.1s</p>
      <p> latency</p>
    </div>
  </div>
</div>