<div class="row pt-0 justify-content-center">
    <div class="text-center col-12 col-xl-10 py-5">
        <h2>{{section2_title}}</h2>
       
        <div class="px-10 py-5">
            <iframe class="mt-0" style="top:0;right:0;bottom:0;left:0;width:100%;height:50vh" width="100%" height="100%" frameborder="0" src={{video_url_demo}}></iframe>
        </div>
    </div>
</div>