<div class="row d-flex justify-content-center">
  <div class="">
    {%- for post in posts %}
      <div  class="py-4 col-auto">

        <a href="{{ post.url | url }}" >{% myResponsiveImage "" + post.data.cover,
          "ss" %}
        </a>

        <div class="col-12 py-3" style="background-color: #ffffff;background-size: cover;">
          <a href="{{ post.url | url }}" class="text-decoration-none text-dark">
            <p class="title-header fs-2 lh-sm mb-0">{{ post.data.title}}</p>
          </a>
          <p class="fs-5 text-muted">
            <small>{{ post.data.subtitle }}</small>
          </p>
          {% for tag in post.data.related %}
            <a class="btn btn-light text-muted btn-custom btn-sm me-2 mb-2">
              {{tag}}
            </a>
          {% endfor %}
        </div>

      </div>
    {% endfor %}
  </div>
</div>