<div class="row d-flex justify-content-center">
  <div class="">
    {%- for post in posts %}
      <div  class="py-5">

        <a href="{{ post.url | url }}" >{% myResponsiveImage "" + post.data.cover,
          "ss" %}
        </a>

        <div class="col-12 px-3 py-3" style="background-image: url('./img/bg_cover.png');background-size: cover;">
          <a href="{{ post.url | url }}" class="text-decoration-none text-dark">
            <h2>{{ post.data.title}}</h2>
          </a>
          <p>{{ post.data.subtitle }}</p>
          {% for tag in post.data.related %}
            <a class="btn btn-light btn-sm me-2">
              {{tag}}
            </a>
          {% endfor %}
        </div>

      </div>
    {% endfor %}
  </div>
</div>