<div class="row d-flex justify-content-center">
    {%- for post in posts %}
     <div class="col-lg-6 col-md-12">
      <div class="py-4 px-2">

        <a href="{{ post.url | url }}" >{% myResponsiveImage "" + post.data.cover,
          "ss" %}
        </a>

        <div class="col-12 py-3" style="background-color: #ffffff;background-size: cover;">
          <a href="{{ post.url | url }}" class="text-decoration-none text-dark">
            <p class="title-header fs-5 lh-sm mb-0">{{ post.data.title}}</p>
          </a>
          <p class="fs-5 pt-2 text-muted" style="line-height:1.2;">
            <small>{{ post.data.subtitle }}</small>
          </p>
          {% for tag in post.data.related %}
            <a class="btn btn-light text-muted btn-custom btn-sm me-2 mb-2">
              {{tag}}
            </a>
          {% endfor %}
        </div>
    </div>
      </div>
    {% endfor %}
</div>