<div class="col-12">
  <p class="lead">
    <p class="text-center fs-1 pb-5">{{section1_title}}</p>
    <div class=" py-vh-5 text-center" style="height:20vh; background-image: url('/img/bg_cover.png');background-size: cover;">
      <h1 class="">{{section1_subtitle}}</h1>
      <p class="fs-5">{{ section1_content }}</p>
    </div>
  </p>
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10 py-5">
      <h2>{{section2_title}}</h2>
      <p class="fs-5">{{ section2_content }}</p>
      <div class="py-5">
        {% myBlogImage "" + section2_img,
        "ss" %}
        <p class="text-muted h6 small">{{section2_img_credits}}</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10 py-5">
      <h4 class="text-center">{{section3_title}}</h4>

      <h1 class="text-center pb-5">{{section3_subtitle}}</h1>

      <h3 class="pb-1">{{section3_subtitle2}}</h3>
      <p class="fs-5">{{ section3_content }}</p>
      <p></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 pb-5">
        <h3>{{section4_title}}</h3>
        <p class="fs-5">{{ section4_content }}</p>
        <div class="pt-5">
          {% myBlogImage "" + section4_img,
          "ss" %}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 pb-5">
        <h3>{{section5_title}}</h3>
        <p class="fs-5">{{ section5_content }}</p>
        <div class="pt-5">
          {% myBlogImage "" + section5_img,
          "ss" %}
        </div>
        <div class="pt-5">
          {% myBlogImage "" + section5_img2,
          "ss" %}
        </div>
        <div class="pt-5">
          {% myBlogImage "" + section5_img3,
          "ss" %}
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 py-5">
        <h4 class="text-center">{{section6_title}}</h4>

        <h1 class="text-center pb-5">{{section6_subtitle}}</h1>

        <h3 class="pb-1">{{section6_subtitle2}}</h3>
        <p class="fs-5">{{ section6_content }}</p>
        <div>
          {% myBlogImage "" + section6_img,
          "ss" %}
        </div>
        <p></div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 py-5">
        <h3>{{section7_title}}</h3>
        <p class="fs-5">{{ section7_content }}</p>
        <div class="pt-5 pb-0">
          {% myBlogImage "" + section7_img,
          "ss" %}
        </div>
        <p></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-xl-10 pb-5">
          <h3 class="display-4 pb-4 text-center">{{section8_title}}</h3>
          <p class="fs-5">{{ section8_content }}</p>
          <div class="py-5">
            {% myBlogImage "" + section8_img,
            "ss" %}
          </div>
          <p></div>
        </div>
      </div>