<div class="col-12">
  <p class="lead">
    <p class="text-center fs-1 pb-5">{{section1_title}}</p>
    <div class=" py-vh-4 bg-full-gradient text-center">
      <h4 class="py-0 my-0">{{section1_subtitle}}</h4>
    </div>
  </p>
  <div class="row py-5 justify-content-center">
    <div class="col-12 col-lg-8 py-5">
      <h4>{{section2_title}}</h4>
      <p class="fs-5">{{ section2_content }}</p>
    </div>
  </div>
  <div class="row pt-5  justify-content-center bg-full">
    <div class="col-12 col-lg-8 py-5">
      <h4>{{section3_title}}</h4>
      <p class="fs-5">{{ section3_content }}</p>
      <div class="py-5 px-5">
        {% myBlogImage "" + section3_img,
        "ss" %}
      </div>
    </div>
  </div>
  <div class="row pt-5 justify-content-center">
    <div class="col-12 col-lg-8 py-5">
      <h4>{{section4_title}}</h4>
      <p class="fs-5">{{ section4_content }}</p>
      <p></p>

      <div class="py-5 px-5">
        {% myBlogImage "" + section4_img,
        "ss" %}
      </div>
      <p class="fs-5">{{ section4_content_2 }}</p>
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col-12 col-xl-10 py-5">
      <p class="fs-1 mb-0">{{section5_title}}</p>
      <p class="fs-5">{{section5_subtitle}}</p>
      <p class="fs-5">{{ section5_content }}</p>
      <div>
        {% myBlogImage "" + section5_img,
        "ss" %}
      </div>
    </div>
  </div>
  {# <div class="row justify-content-center">
    <div class="col-12 col-lg-8 py-5">
      <h4>{{section6_title}}</h4>
      <p class="fs-5">{{ section6_content }}</p>
      <div class="py-5 px-5">
        {% myBlogImage "" + section6_img,
        "ss" %}
      </div>
    </div> #}
  <p class="text-center fs-1 mb-0 pt-0">{{section7_title}}</p>
  <div class="row text-center justify-content-center col-12 col-md-8 pt-3">
    {# <div class="col-12">
        <p class="fs-0 fw-light pb-0 mb-0 lh-1">90%</p>
        <p> visibility improvement over previous methods</p>
      </div> #}
  </div>
  <div class="row justify-content-center text-center">
    <div class="pt-0 justify-content-center col-12 col-xl-6">
      {% myBlogImage "" + section7_img,
      "ss" %}
    </div>
  </div>
</div>