<header class="pb-4 mb-4">
  <div class="col-12 container">
    <p class="display-5 pt-3">see other work</p>

    <a class="link-fancy me-5" href= {{work1_url}}>
      <p class="fs-5 mb-0">{{ work1 }}</p>
    </a>
    <a class="link-fancy me-5" href= {{work2_url}}>
      <p class="fs-5 mb-0 ">{{ work2 }}</p>
    </a>

    <a class="link-fancy me-5" href= {{work3_url}}>
      <p class="fs-5 mb-0">{{ work3 }}</p>
    </a>
  </div>
</header>