<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">
  <head>
    {% include 'snippets/head.njk' %}
  </head>
  <body>
    {% include 'snippets/navbar.njk' %}
    <main class="container">
      <div class="row d-flex">
        <article>
          {% include 'snippets/work_header.njk' %}
          {# <div class="container">
            {% include 'snippets/wis.njk' %}
          </div> #}
        </article>
        <div class="row text-center justify-content-center col-12  py-5">
    <div class="col-6">
    <button type="button" class="btn btn-primary" onclick="window.location.href = '/'" > See other projects </button>
    </div>
  </div>
`       </div>
    </div>
  </div>
</main>
<footer class="container">

  {% include 'snippets/footer.njk' %}
</footer>

</body>

</html>