<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    <main class="container">
      <div class="row mt-5 justify-content-center">
        {% myProfilePhoto "./src/img/profile2.png",
        "profile_pic" %}
        <div class="col-10 col-lg-8 col-xl-6"
        ><br>
          <p class="mb-5 fs-3 text-center ">
            About
          </p>

          <div>
           <p class="lead"> Hi there! I'm Aaditya, a passionate Designer from Toronto. I'm all about being curious and love to make designs that really make an impact. I've led cool projects in startups and worked on cutting-edge tech in research labs. <br><br> I specialize in UI/UX, which means I'm great at making user-friendly designs that look good and work even better. I know how to make designs focused on what users need, use tools to sketch up ideas quickly, and I have a good eye for making things look nice. My goal is to turn complicated stuff into easy, fun experiences that keep people coming back. <br><br> I love tackling tough design challenges and mixing in creativity to find the best solutions. Let's make something awesome together. </p>
          </div>
          {# <div class="mt-5 text-center">
            <p class=" fs-3 "></p>
            <a class="link-fancy mb-3" href= {{link1_url}}>
              <p class="fs-6 mb-0">{{ link1 }}</p>
            </a>
            <br>
            <a class="link-fancy mb-3" href= {{link2_url}}>
              <p class="fs-6 mb-0">{{ link2 }}</p>
            </a>
            <br>
            <a class="link-fancy mb-3" href= {{link3_url}}>
              <p class="fs-6 mb-0">{{ link3 }}</p>
            </a>
          </div> #}
           <div class="text-center mt-5">
            <ul class="list-inline">
              <li class="list-inline-item"> {% iconsLogos "./src/img/logos.png",
        "profile_pic" %}</li>

            </ul>
          </div>
          <div class="text-center ">
            <p class=" fs-3 mt-5">
            Contact
          </p>

            <p class="fs-6 mb-3">
              {{ email }}

              <a class="link-fancy mb-3 ms-3" href= {{meetlink_url}}>
                {{ meetlink }}
              </a>
              {# <br> #}
              <a class="link-fancy mb-3 ms-3" href= {{link1_url}}>
                {{ link1 }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="container">
      {% include 'snippets/footer.njk' %}
    </footer>

  </body>

</html>