---
layout: layouts/about.njk
title: A Curious Devesigner

link1: Resume
link1_url: https://design.thisisvaze.com/img/resume.pdf

email: thisisvaze[at]gmail[dot]com
icon1_img: ./src/img/profile2.png

meetlink: LinkedIn
meetlink_url: https://www.linkedin.com/in/aadityav/
about_content:   asd
---