---
layout: layouts/about.njk
title: A Curious Devesigner

link1: XR Researcher @ ACE Lab, OCAD University
link1_url: https://www.linkedin.com/posts/aadityav_google-mixedreality-metaverse-activity-6988147734427959296-8xiV?utm_source=share&utm_medium=member_desktop

link2: AR/VR Instructor @ Circuitstream
link2_url: https://www.circuitstream.com/

link3: Mentor @ ADPList
link3_url: https://adplist.org/mentors/aaditya-vaze

email: thisisvaze[at]gmail[dot]com

meetlink: Let's talk about XR?
meetlink_url: https://www.linkedin.com/in/aadityav/
about_content: Hi there! I'm Aaditya, a curious and self-driven XR Designer based in Toronto. I absolutely love leading and directing design in startups and working at research labs to create fast-paced tech products. For the past 3 years, I've been immersed in the world of XR, focusing on designing and building interaction and data visualization techniques. My most recent passion project is CuriosityXR, where I've combined my professional and academic background in Design, Computer Science, and Teaching to redefine the way we learn. In this master's thesis project, I've been able to explore my love for design while also tapping into my technical and educational expertise. When I'm not busy designing or developing the next big thing in XR, you can find me learning something new, exploring the nature with friends, or cooking butter chicken! 
---