---
layout: layouts/index.njk
title: XR & Metaverse Researcher
subtitle: A curious, self-driven researcher and designer developing contextual interfaces for XR.
linkedin_url: https://www.linkedin.com/in/aadityav/
contact_text: Get in Touch
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
---