---
layout: layouts/index.njk
title: Interaction Designer (UI/UX)
subtitle: Hey! I am Aaditya, a curious, self-driven creator desgining applications and tools for web, mobile and XR.
linkedin_url: https://www.linkedin.com/in/aadityav/
contact_text: Get in Touch
pagination:
    data: collections.post
    size: 8
    reverse: false
    alias: posts
---