---
layout: layouts/index.njk
title: XR Designer & Researcher
subtitle: Hey! I am Aaditya, a curious, self-driven designer & researcher building contextual interfaces for XR.
linkedin_url: https://www.linkedin.com/in/aadityav/
contact_text: Get in Touch
pagination:
    data: collections.post
    size: 4
    reverse: false
    alias: posts
---