---
layout: layouts/other-work.njk
title: I design brands, portraits, interactions
subtitle: 
pagination:
    data: collections.mini_project
    size: 6
    reverse: false
    alias: mini_projects
---