---
layout: layouts/other-work.njk
title: I make brands, portraits, interactions & butter chicken
subtitle: when I'm not in the metaverse
pagination:
    data: collections.mini_project
    size: 6
    reverse: false
    alias: mini_projects
---